.userNameContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.userName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #565656;
}

.deleteCross {
    cursor: pointer;
}